.buttonDiv{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.loginPage{
    width: 100vw;
    height: 100vh;
    background-color: #1E201E;
    display: flex;
    align-items: center;
    justify-content: center;
}
