.supplierPage {
    width: 100vw;
    height: 90vh;
    background-color: #1E201E;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5%;
    box-sizing: border-box;
}

.card {
    width: 14vw;
    height: 15vh;
    margin-bottom: 20px;
}
